apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-client-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-client
data:
    NODE_ENV: "production"
    TZ: "Europe/Berlin"
    PORT: "3046"
    SERVER_TLDRAW_2_ENABLED: "{{ WITH_TLDRAW2 }}"
    FILE_UPLOAD: "/api/v3/file/upload/school/SCHOOLID/boardnodes/CONTEXTID"
    FILE_DELETE: "/api/v3/file/delete/FILERECORD_ID"
    FILE_RESTORE: "/api/v3/file/restore/FILERECORD_ID"
    LOGIN_REDIRECT: "/login?redirect=/tldraw?parentId=PARENTID"
    USER_DATA: "/api/v3/user/me"
    ENV_CONFIG:  "{{ '/api/tldraw/config/public' if WITH_TLDRAW2 else '/api/v3/config/public' }}"
