apiVersion: v1
kind: ConfigMap
metadata:
  name: tldraw-client-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-client
data:
    NODE_ENV: "production"
    TZ: "Europe/Berlin"
    PORT: "3046"
    CONFIG_PATH:  "{{ '/api/tldraw/config/public' if WITH_TLDRAW2 else '/api/v3/config/public' }}"
