$font-stack:
	-apple-system,
	BlinkMacSystemFont,
	Segoe UI,
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	Fira Sans,
	Droid Sans,
	Helvetica Neue,
	sans-serif;
$primary-padding: 20px;
$primary-font-weight: 500;
$primary-font-size: x-large;
$icon-background-color: #ffffff;
$icon-border-radius: 50%;
$icon-padding: 5px;
$indicator-background: #54616e;
$indicator-text-color: #ffffff;
$indicator-border-radius: 20px;
$indicator-width: 25px;
$indicator-margin: 20px 0 0 25px;
$indicator-span-font-size: 14px;

@mixin flex-and-color {
	display: flex;
	color: $indicator-text-color;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: $font-stack;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.tldraw {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.user-container {
	@include flex-and-color;
	justify-content: flex-end;
	position: absolute;
	padding: $primary-padding;
	font-weight: $primary-font-weight;
	font-size: $primary-font-size;
	z-index: 2;
	left: 0;
	right: 0;
	top: 40px;
}

.user-display,
.user-count,
.users-icon {
	@include flex-and-color;
}

.users-icon {
	background-color: $icon-background-color;
	border-radius: $icon-border-radius;
	padding: $icon-padding;
}

.user-indicator {
	@include flex-and-color;
	justify-content: center;
	background: $indicator-background;
	border-radius: $indicator-border-radius;
	position: absolute;
	z-index: 1;
	width: $indicator-width;
	flex-direction: row;
	margin: $indicator-margin;
}

.user-indicator-span {
	font-size: $indicator-span-font-size;
	display: flex;
	flex-direction: row;
}
