@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/PT_Sans-Web-Regular.eot"); /* IE9 Compat Modes */
  src:
    local("PT Sans"),
    local("PTSans-Regular"),
    url("assets/fonts/PT_Sans-Web-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/PT_Sans-Web-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/PT_Sans-Web-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/PT_Sans-Web-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/PT_Sans-Web-Regular.svg#PTSans") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/PT_Sans-Web-Bold.eot"); /* IE9 Compat Modes */
  src:
    local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("assets/fonts/PT_Sans-Web-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/PT_Sans-Web-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/PT_Sans-Web-Bold.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/PT_Sans-Web-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/PT_Sans-Web-Bold.svg#PTSans")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/PT_Sans-Narrow-Web-Regular.eot"); /* IE9 Compat Modes */
  src:
    local("PT Sans Narrow"),
    local("PTSans-Narrow"),
    url("assets/fonts/PT_Sans-Narrow-Web-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/PT_Sans-Narrow-Web-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/PT_Sans-Narrow-Web-Regular.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/PT_Sans-Narrow-Web-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/PT_Sans-Narrow-Web-Regular.svg#PTSansNarrow")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/PT_Sans-Narrow-Web-Bold.eot"); /* IE9 Compat Modes */
  src:
    local("PT Sans Narrow Bold"),
    local("PTSans-NarrowBold"),
    url("assets/fonts/PT_Sans-Narrow-Web-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/PT_Sans-Narrow-Web-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("assets/fonts/PT_Sans-Narrow-Web-Bold.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/PT_Sans-Narrow-Web-Bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/PT_Sans-Narrow-Web-Bold.svg#PTSansNarrow") format("svg"); /* Legacy iOS */
}

$primary-padding: 20px;
$primary-font-weight: 500;
$primary-font-size: x-large;
$border-color: rgba(0, 0, 0, 0.1);
$border-left-color: #797979;
$list-background-color: #363d44;
$icon-background-color: #54616e1a;
$icon-border-radius: 50%;
$icon-padding: 5px;
$indicator-background: #54616e;
$indicator-text-color: #ffffff;
$indicator-border-radius: 20px;
$indicator-width: 28px;
$indicator-height: 20px;
$indicator-span-font-size: 14px;

@mixin flex-and-color {
  display: flex;
  color: $indicator-text-color;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    PT Sans,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tldraw {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.tldraw-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 245px;
  height: 40px;
}

.user-display,
.user-count {
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  z-index: 1;
}

.user-display {
  position: relative;
  cursor: pointer;
}

.user-icon,
.user-indicator {
  @include flex-and-color;
}

.user-icon {
  background-color: $icon-background-color;
  border-radius: $icon-border-radius;
  padding: $icon-padding;
}

.user-indicator {
  justify-content: center;
  background: $indicator-background;
  border-radius: $indicator-border-radius;
  position: absolute;
  z-index: 1;
  width: $indicator-width;
  height: $indicator-height;
  top: 66%;
  left: 66%;
}

.user-indicator-span {
  font-size: $indicator-span-font-size;
  display: flex;
  flex-direction: row;
}

.tldraw-cursor-container {
  margin: 15px 0 0 14px;
  transform: scale(var(--tl-scale));
  width: fit-content;

  .tldraw-username-container {
    display: flex;
    margin-top: -4px;

    .tldraw-username {
      display: flex;
      flex: 1 0 auto;
      font-family: "PT Sans Narrow", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.7px;
      border-radius: 14px;
      padding: 0 8px 0 8px;
      margin-left: 4px;
      border: 1px solid;
      color: #000000;
    }
  }
}

.list-of-users-container {
  width: 280px;
  max-height: 568px;
  position: relative;
  float: right;
  background-color: $list-background-color;
  margin: 10px 5px 0 0;
  border-radius: 15px;
  padding-right: 5px;

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .loading-spinner {
    border: 6px solid $border-color;
    border-left-color: $border-left-color;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
    margin: 5px 0;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  max-height: 568px;
  padding: 5px;

  .user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0 8px 8px;

    .user-icon {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }

    .user-name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      width: 190px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 12px;
      line-height: 16px;
      font-family: "Recursive", sans-serif;
    }
  }
}
